:root {
    --eletric-pink: #F00592;
    --darker-pink: #60023A;
    --pearl-blue: #7CC5CB;
}

html {
    font-size: 16px;
}

/*---- Simple animation to load something ----*/
@keyframes fadeInPage {
  from { opacity: 0.2; }
  to { opacity: 1; }
}

body {
    display: block;
    height: 100vh;
    width: 100vw;
    animation: fadeInPage 0.5s  ease-out forwards;
}

ul {
    list-style-type: square;
}

.navbar {
    display: flex;
}

/*---- Pink bootstrap-like pink and pink-subtle ----*/
.text-pink {
    color: var(--eletric-pink) !important;
    border-color: var(--eletric-pink);
}

.text-pink-subtle {
    color: var(--darker-pink) !important;
    border-color: var(--darker-pink);
}

.bg-pink {
    background-color: var(--eletric-pink) !important;
}

.bg-pink-subtle {
    background-color: var(--darker-pink);
}

.border-pink {
    border-color: var(--eletric-pink) !important;
}

.border-pink-subtle {
    border-color: var(--darker-pink) !important;
}

/*---- Hover rule on footer icons ----*/
footer a:hover {
    padding-bottom: 0.1rem;
    border-bottom: 1px solid white;
}

/*---- Fixing the Dropdown Menu Background on Hover ----*/
.dropdown-menu a:hover {
    background-color: var(--bs-dark);
}

.dropdown-menu {
    background-color: var(--bs-black);
    border: 1px solid var(--bs-light);
}

/*---- Trajectory section accordion ----*/
.accordion-button:not(.collapsed) {
    color: var(--bs-white);
    background-color: var(--darker-pink);
    font-weight: bold;
}

/*-- Accordion arrow color --*/
.trajectory .accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2360023A'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.trajectory .accordion-button.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2360023A'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.trajectory .accordion-header, .trajectory .accordion-item, .trajectory .accordion-body, .trajectory .accordion-button{
    border: none;
    box-shadow: none;
}

/*--Accordion line on left side --*/
.accordion-button, .accordion-button:not(.collapsed), .accordion-body {
    border-left: 2px solid var(--bs-white) !important;
    position: relative;
}

/*-- Decorative white circle on each button --*/
@keyframes toggleCircle {
    from {width: 10px; height: 10px; left: -0.4rem;}
    to {width: 14px; height: 14px;left: -0.5rem;}
}

.accordion-button:before {
    content: "";
    position: absolute;
    left: -0.4rem;   /* Adjust horizontal position */
    top: 50%;       /* Center vertically */
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

 .accordion-button:not(.collapsed):before {
    animation: toggleCircle 0.25s forwards;
 }


/*---- Carousel configuration ----*/
.carousel-control-prev, .carousel-control-next {
  top: auto;
  bottom: 20px;
}

.carousel-item a {
    text-decoration: none;
    color: var(--eletric-pink);
}