:root {
    --eletric-pink: #F00592;
    --darker-pink: #60023A;
    --pearl-blue: #7CC5CB;
}

html {
    font-size: 16px;
}

body {
    display: block;
    height: 100vh;
    width: 100vw;
}

/*---- Simple animation to load the whole page ----*/
@keyframes fadeInPage {
  from { opacity: 0.2; }
  to { opacity: 1; }
}
body {
  animation: fadeInPage 0.4s  ease-out forwards;
}

ul {
    list-style-type: square;
}

.navbar {
    display: flex;
}

/*---- Accordion related rules ----*/
.accordion-button:not(.collapsed) {
    color: var(--bs-white);
    background-color: var(--darker-pink);
    font-weight: bold;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F00592'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button {
    color: var(--eletric-pink);
    background-color: var(--bs-dark);
}

/*---- Pink bootstrap-like pink ----*/
.text-pink {
    color: var(--eletric-pink) !important;
    border-color: var(--eletric-pink);
}

.text-pink-subtle {
    color: var(--darker-pink) !important;
    border-color: var(--darker-pink);
}

.bg-pink {
    background-color: var(--eletric-pink) !important;
}

.bg-pink-subtle {
    background-color: var(--darker-pink);
}

.border-pink {
    border-color: var(--eletric-pink) !important;
}

.border-pink-subtle {
    border-color: var(--darker-pink) !important;
}

/*---- Hover rule on footer icons ----*/
footer a:hover {
    padding-bottom: 0.1rem;
    border-bottom: 1px solid white;
}

/*---- Fixing the Dropdown Menu Background on Hover ----*/
.dropdown-menu a:hover {
    background-color: var(--bs-dark);
}

.dropdown-menu {
    background-color: var(--bs-black);
    border: 1px solid var(--bs-light);
}